
Django==1.11
django-bootstrap3==8.2.2
django-braces==1.11.0
django-debug-toolbar==1.7
django-misaka==0.2.1
gunicorn==19.7.1
houdini.py==0.1.0
misaka==2.1.0
olefile==0.44
packaging==16.8
Pillow==4.1.1
pycparser==2.17
Pygments==2.2.0
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
sqlparse==0.2.3
